body{
  background-color: #202020;
  color: aliceblue;
}

.btn-dark{
  

  border: 1px solid #484d52 !important ;
}

.btn-dark:hover{
  background-color: #15181b !important;
  border: 1px solid transparent !important ;
}

.at{
  color: rgb(95, 99, 99);
}